<body>
  <div class="footer border-top ">
    <div class="icons">
        <i class="fa-brands fa-facebook footer-social-meadia-icon"></i>
        <i class="fa-brands fa-facebook-messenger footer-social-meadia-icon"></i>
        <i class="fa-brands fa-linkedin-in footer-social-meadia-icon"></i>
    </div>
    <div class="branding">
        <p>&copy; TheRecipeHub</p>
    </div>
    <div class="helpline">
        <p>For Any Futher Deatil .. Contact us on xxxxxxx</p>
    </div>
</div>
</body>
